/* CSS Breaking Point. */

/* Mobile devices Layout: 320px to 480px Start*/

@media (min-width: 320px) and (max-width: 480px) {
  /* intro section start */
  .intro {
    display: flex;
    flex-direction: column-reverse;
    padding-top: 3rem;
  }
  .intro__img-img {
    width: 80vw;
    height: 60vh;
  }
  .intro__text {
    margin-left: 0;
  }
  .intro__text h1 {
    font-size: 34px;
    line-height: 3rem;
    text-align: center;
  }
  .intro__text p {
    padding-top: 1rem;
    text-align: center;
  }
  /* intro section end */

  /* about section Start */
  .about {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    background: none;
  }
  .about__img-img {
    width: 80vw;
    height: 60vh;
  }
  .about__text {
    margin-left: 0;
  }
  .about__text h1 {
    font-size: 34px;
    line-height: 3rem;
    text-align: center;
  }
  .about__text p {
    padding-top: 1rem;
    text-align: center;
  }
  /* about section End */

  /* Recipes Start */
  #recipes {
    margin-top: 18rem;
  }
  #recipe-intro p {
    width: 90%;
  }
  #recipe-cards {
    grid-template-columns: 12fr;
    grid-row-gap: 1rem;
    padding-left: 0;
    padding-right: 0;
  }
  /* Recipes End */

  /* network start */
  #network {
    margin-top: 70rem;
    flex-direction: column;
  }
  .network__item {
    margin-top: 2rem;
  }
  /* network end */
}
/* Mobile devices Layout: 320px to 480px End*/

/* iPads, Tablets Layout: 481px to 768px start*/

@media (min-width: 481px) and (max-width: 768px) {
  /* intro section start */
  .intro {
    display: flex;
    flex-direction: column-reverse;
    padding-top: 3rem;
  }
  .intro__text h1 {
    line-height: 4rem;
    text-align: center;
  }

  /* intro section end */

  /* about start */
  .about {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    background: none;
  }
  /* about end */

  /* Recipes Start */
  #recipes {
    margin-top: 25rem;
  }
  #recipe-intro p {
    width: 90%;
  }
  #recipe-cards {
    grid-template-columns: 6fr 6fr;
    grid-row-gap: 1rem;
    padding-left: 0;
    padding-right: 0;
  }
  /* Recipes End */

  /* network start */
  #network {
    margin-top: 40rem;
    margin-left: 5rem;
    margin-right: 5rem;
    padding-left: 20rem;
    padding-right: 20rem;
  }
  .network__item {
    margin-right: 4rem;
  }
  /* network end */
}
/* iPads, Tablets Layout: 481px to 768px end*/

/* Small screens, laptops Layout: 769px to 1024px start*/
@media (min-width: 769px) and (max-width: 1024px) {
  /* intro start */
  .intro {
    display: grid;
    grid-template-columns: 8fr 4fr;
  }
  .intro__text h1 {
    font-size: 40px;
    line-height: 3.5rem;
  }
  .intro__img-img {
    width: 458.26px;
    height: 547.23px;
  }
  /* intro End */

  /* about start */
  .about {
    display: grid;
    grid-template-columns: 8fr 4fr;
  }
  .about__text h1 {
    font-size: 40px;
    line-height: 3.5rem;
  }
  /* about End */

  /* recipes start */
  #recipe-cards {
    grid-template-columns: 6fr 6fr;
    padding-left: 0;
    padding-right: 0;
    row-gap: 2rem;
  }
  /* recipes end */

  /* network start */
  #network {
    margin-top: 40rem;
    margin-left: 5rem;
    margin-right: 5rem;
    padding-left: 20rem;
    padding-right: 20rem;
  }
  .network__item {
    margin-right: 4rem;
  }
  /* network end */
}
/* Small screens, laptops Layout: 769px to 1024px end*/

/* Desktops, large screens: 1025px — 1200px start*/

@media (min-width: 1025px) and (max-width: 1200px) {
  .intro__text h1 {
    font-size: 40px;
    line-height: 3.5rem;
  }
  .about__text h1 {
    font-size: 40px;
    line-height: 3.5rem;
  }
  #recipe-cards {
    grid-template-columns: 6fr 6fr;
    padding-left: 0;
    padding-right: 0;
    row-gap: 2rem;
  }
  /* network start */
  #network {
    margin-top: 38rem;
    margin-left: 5rem;
    margin-right: 5rem;

    padding-left: 20rem;
    padding-right: 20rem;
  }
  .network__item {
    margin-right: 4rem;
  }
  /* network end */
}
/* Desktops, large screens: 1025px — 1200px end*/
