/* Google fonts link start */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
/* Google fonts link end */

/* Common Style Start */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.btn {
  width: 15rem;
  height: 4rem;
  background: linear-gradient(88.33deg, #fba24f -7.64%, #ff1e1e 145.94%);
  border-radius: 20rem;
  border: none;
  color: whitesmoke;
  font-size: 1.3rem;
  letter-spacing: 0.05rem;
}
.btn:hover {
  background: linear-gradient(88.33deg, #ff1e1e -7.64%, #fba24f 145.94%);
}
a {
  text-decoration: none;
  color: whitesmoke;
}

/* Common Style End */