/* Google fonts link start */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
/* Google fonts link end */

/* Common Style Start */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.btn {
  width: 15rem;
  height: 4rem;
  background: linear-gradient(88.33deg, #fba24f -7.64%, #ff1e1e 145.94%);
  border-radius: 20rem;
  border: none;
  color: whitesmoke;
  font-size: 1.3rem;
  letter-spacing: 0.05rem;
}
.btn:hover {
  background: linear-gradient(88.33deg, #ff1e1e -7.64%, #fba24f 145.94%);
}
a {
  text-decoration: none;
  color: whitesmoke;
}
/* Common Style End */

/* Color Style Start */

.orange-color {
  color: orange;
}

/* Color Style End */

/* Section 1 / Intro Section Start */
.half-width {
  display: flex;
  height: 100vh;
}
.intro__text-half {
  flex-basis: 50%;
  margin-left: 3rem;
  align-self: center;
  font-size: large;
}
.intro__text-half h2 {
  font-size: 60px;
  line-height: 4.5rem;
}
.intro__text-half p {
  padding-top: 1rem;
}
.intro__text-half button {
  margin-top: 2rem;
}
/* Section 1 / Intro Section End */

/* Section 2 / About Section Start */
#about {
  background: url(/img/about-bg.jpg);
  display: flex;
  height: 75vh;
  justify-content: space-around;
}
.about__img-half {
  align-self: end;
}
.about__img-half img {
  width: 338px;
  height: 536px;
}

.about__text-half {
  flex-basis: 50%;
  margin-right: 3rem;
  align-self: center;
  font-size: large;
}

.about__text-half h2 {
  font-size: 40px;
  line-height: 4.5rem;
}
.about__text-half p {
  padding-top: 1rem;
  width: 30em;
}
.about__text-half button {
  margin-top: 5rem;
}

/* Section 2 / About Section End */

/* Section 3 / Recipes Section Start */

#recipes {
  height: 80vh;
  background-color: rgba(238, 236, 236, 0.686);
}
#recipe-intro {
  margin-top: 3rem;
  text-align: center;
}
#recipe-intro h2 {
  font-size: 40px;
}
#recipe-intro p {
  width: 50%;
  display: inline-block;
  margin-bottom: 3rem;
}
#recipe-cards {
  display: flex;
  justify-content: space-around;
}

#recipe-cards .single-card {
  background-color: #fff;
  padding: 1rem;
  border-radius: 2rem;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
#recipe-cards .single-card img {
  width: 337px;
  height: 256px;
  border-radius: 2rem;
}
#recipe-cards .single-card p {
  width: 337px;
}
/* Section 3 / Recipes Section End */

/* Section 4 / Network Section Start */
#network {
   margin-top: 5rem;
   margin-bottom: 5rem;
   padding: 1rem;
  display: flex;
  width: 80%;
  justify-content: space-between;
  margin-left: 10rem;
  border-radius: 1rem;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
}
.single-network {
  padding: 1rem;
}
.single-network h3 {
  font-size: 50px;
}
/* Section 4 / Network Section End */


   /* Section 5 / footer Section Start  */
   footer{
      text-align: center;
      background-color: black;
      color: whitesmoke;
      padding: 5rem;
   }
   /* Section 5 / footer Section End  */
